{% extends "head.html" %}

{% block body %}
<div class="limiter">
{% include "header.html" %}
    <div class="container-table100">
        <div class="wrap-table100">
            <div style="margin-bottom: 5%;" id="index-title"\>
                <h1 style="">{{ title }}</h1>
            </div>
            {% for audio in audios %}
            <h3 class="sound-title">{{ titles[ loop.index ] }}</h3><br><br>
               <div style="display:flex; margin-bottom: 1em;">
                   <span style="margin-right: 1em;">Busca por: </span>
                    <input type="text" style="padding: 0 0.5em; margin-right: 1em;" placeholder="tag" onkeyup="search_audio(this, 'tag', '{{ titles_ids[ loop.index ] }}', [{{ titles_ids }}], '{{ loop.index }}' )" name="tag"/>
                    <input type="text" style="padding: 0 0.5em; margin-right: 1em;" placeholder="validação"  onkeyup="search_audio(this, 'validation', '{{ titles_ids[ loop.index ] }}', [{{ titles_ids }}], '{{ loop.index }}' ) )" name="validation"/>
                </div>
                <div class="table100 tableFixHead">
                    <table style="overflow: auto;margin-bottom: 0;" class="table table-striped">
                          <thead>
                            <tr>
                              <th style="color:white;" scope="col">#</th>
                              <th style="color:white;" scope="col">Tag</th>
                              <th style="color:white;" scope="col">Frases</th>
                              <th style="color:white;" scope="col">Arquivo</th>
                              <th style="color:white;" scope="col">Ações</th>
                            </tr>
                          </thead>
                          <tbody id="tbody_{{ titles_ids[ loop.index ] }}">
                          {% with titles_ids=titles_ids, outer_index=loop.index %}
                            {% include "table_body.html" %}
                          {% endwith %}
                          </tbody>
                    </table>
                </div>

        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}