{% for id, tag, validation, s3_file, filename in audio %}
    <tr>
      <th scope="row">
        <div
            class="speaker"
            id="speaker_{{ table }}{{ loop.index }}"
            onclick="play_audio(
                    '#player{{ table }}{{ loop.index }}',
                    '#speaker_{{ table }}{{ loop.index }}'
                )"
        >
            <audio id="player{{ table }}{{ loop.index }}">
                <source src="{{ s3_file }}" type="audio/ogg" />
                <source src="{{ s3_file }}" type="audio/mp3" />
                <source src="{{ s3_file }}" type="audio/wav" />
            </audio>
        </div>
        </span>
      </th>
          <!-- Tag edit-->
          <td style="padding-top: 0.8em;">
              <span id="text_{{ table }}{{ loop.index }}">{{ tag }}</span>
              <form id="form_tag_{{ table }}{{ loop.index }}" action="{{ route_update_audio }}" method="post">
                  <input type="hidden" value="{{ table }}" name="table" />
                  <input type="hidden" value="tag" name="column" />
                  <input type="hidden" value="{{ id }}" name="id" />
                  <input style="display:none; padding: 0.3em; width: 11em;" type="text" name="tag"
                         id="input_{{ table }}{{ loop.index }}" value="{{ tag }}"
                  >
              </form>
              <span id="edit_{{ table }}{{ loop.index }}"
                    onclick="show_edit_options(this, '{{ table }}{{ loop.index }}')"
                    style="display: block;"
              >
                  <img style="width: 16px; margin-top: 0.6em;" src="{{ url_for('static', filename='images/edit.png') }}" />
              </span>
              <span id="cancel_{{ table }}{{ loop.index }}" style="display: none;"
                    onclick="cancel_edit_options(this, '{{ table }}{{ loop.index }}')"
              >
                  <img style="width: 16px; margin-top: 0.6em;" src="{{ url_for('static', filename='images/cancel.png') }}" />
              </span>
              <span id="save_{{ table }}{{ loop.index }}" style=" display:none;"
                    onclick="save_edit_audio('form_tag_{{ table }}{{ loop.index }}')"
              >
                  <img style="width: 16px; margin: 0.6em 0 0 0.7em;" src="{{ url_for('static', filename='images/save.png') }}" />
              </span>
          </td>

          <!-- Validation edit-->
          <td style="padding-top: 0.8em;">
              <span style="top: 0.1em;" id="text_val_{{ table }}{{ loop.index }}">{{ validation }}</span>
              <form id="form_val_{{ table }}{{ loop.index }}" action="{{ route_update_audio }}" method="post">
                  <input type="hidden" value="{{ table }}" name="table" />
                  <input type="hidden" value="validation" name="column" />
                  <input type="hidden" value="{{ tag }}" name="tag" />
                  <input type="hidden" value="{{ id }}" name="id" />
                  <input style="display:none; padding: 0.3em; width: 11em;" type="text" name="validation"
                         id="input_val_{{ table }}{{ loop.index }}" value="{{ validation }}"
                  >
                  <span id="edit_val_{{ table }}{{ loop.index }}"
                        onclick="show_edit_options(this, 'val_{{ table }}{{ loop.index }}')"
                        style="display: block;"
                  >
                      <img style="width: 16px; margin-top: 0.6em;" src="{{ url_for('static', filename='images/edit.png') }}" />
                  </span>
                  <span id="cancel_val_{{ table }}{{ loop.index }}" style="display: none;"
                        onclick="cancel_edit_options(this, 'val_{{ table }}{{ loop.index }}')"
                  >
                      <img style="width: 16px; margin-top: 0.6em;" src="{{ url_for('static', filename='images/cancel.png') }}" />
                  </span>
                  <span id="save_val_{{ table }}{{ loop.index }}" style=" display:none;"
                        onclick="save_edit_audio('form_val_{{ table }}{{ loop.index }}')"
                  >
                      <img style="width: 16px; margin: 0.6em 0 0 0.7em;" src="{{ url_for('static', filename='images/save.png') }}" />
                  </span>
                  <span id="check_val_{{ table }}{{ loop.index }}"
                        class="input-group-text" style="display: none;"
                        data-toggle="tooltip" data-placement="right" data-delay="1500"
                        title="Marque esta opção para além deste áudio, salvar a validação para todos os outros áudios que tenham essa mesma tag" >
                      <label style="cursor: pointer; display: flex;">
                          <input style="margin-right: 0.5em;" name="all-tags" type="checkbox" aria-label="Checkbox for following text input" />
                          Atualizar todas as tags?
                      </label>
                  </span>
              </form>
          </td>
          <td style="padding-top: 2%;">{{ filename }}</td>
          <td style="padding-top: 2%;">
              <form id="form_delete_{{ table }}{{ loop.index }}" action="{{ route_delete_audio }}" method="post">
                  <input type="hidden" value="{{ table }}" name="table" />
                  <input type="hidden" value="{{ filename }}" name="file" />
                  <input type="hidden" value="{{ id }}" name="id" />
              </form>
              <span onclick="delete_audio('form_delete_{{ table }}{{ loop.index }}')">
                <img style="width: 25px; margin-left: 0.5em;" src="{{ url_for('static', filename='images/delete.png') }}" />
              </span>
          </td>
    </tr>
{% endfor %}